<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Scarborough Dining</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul style="width: 30%" class="nav navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="<%=user?"/"+user._id+(user.ownerEmail?"/restaurantProfile":"/customerProfile"):""%>">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/explore/">Explore <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item <%=cart?"active btn-secondary":""%>">
          <a class="nav-link <%=cart?"":"disabled"%>" href="/myCart"><%=cart?cart.cartItems.length:0%> item(s) in Cart <%=cart?"["+cart.restaurant+"]":""%><span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if (!user) { %>
        <li class="nav-item dropdown">
          <a style="color: white" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Login
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/loginCustomer">Customer</a>
            <a class="dropdown-item" href="/loginRestaurant">Restaurant Owner</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a style="color: white" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sign Up
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/customerSignup/">Customer</a>
            <a class="dropdown-item" href="/restaurantSignup/">Restaurant Owner</a>
          </div>
        </li>
        <% } else { %>
        <li class="nav-item active dropdown">
            <a style="color: white" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Signed in as <%=user.nameSpaced?user.nameSpaced+" (Restaurant)":user.customerFirstName+" "+user.customerLastName+" (Customer)"%>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/logout">Sign Out</a>
            </div>
        </li>
        <% } %>
      </ul>
      <form action="/searchRestaurants/" method="POST" style="width:43%; float: right;" class="form-inline my-2 my-lg-0">
        <input id="searchBar" name="searchContent" required="required" style="width:45% ; float: left;" class="form-control mr-sm-2" type="search" placeholder="What Are You Craving?" aria-label="Search">
        <select id="sorting" name="sortBy"  style="width: 30%; float: left;" class="form-control mr-sm-2">
            <option value="rel" selected>Relevance</option>
            <option value="rating">Rating</option>
            <option value="priceLH">$ (Low to High)</option>
            <option value="priceHL">$ (High to Low)</option>
        </select>
        <button style="width: 20%; float: left;" class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>